* {
  box-sizing: border-box;
}

:root {
  --tr: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --navy-blue-modal: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --Navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #c5c6f7;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-bottom: 24px;
  padding-top: 24px;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  width: 1158px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  text-decoration: none;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link[aria-current="page"]::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  left: 0;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  text-decoration: none;
}

.address-link {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  font-weight: 700;
}

.button-bth {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-bth:hover,
.button-bth:focus {
  background-color: #404bbf;
}

.features {
  font-family: "Roboto", sans-serif;
  padding: 120px 0;
}

.container-narrow {
  width: 1158px;
}
.features-list {
  display: grid;
  justify-content: center;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
}

.features-item {
  flex-basis: calc((100% - 72px) / 3);
  border-radius: 0 0 4px 4px;
  padding: 0 16px 0;
}

.icon-features {
  max-width: 64px;
  height: 64px;
  margin: 0 0 8px;
  border: none;
  border-radius: 4px;
  display: block;
  align-items: center;
  justify-content: center;
}

.feature-text {
  line-height: 1.5;
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  border-radius: 0 0 4px 4px;
}

.container-team {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% -72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: transform var(--tr);
}

.team-item:hover {
  transform: translateY(-2px);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--tr);
}

.team .social-link:hover,
.team .social-link:focus {
  background-color: #404bbf;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.icon-team {
  fill: var(--cloud);
  display: block;
}

.social-link svg {
  pointer-events: none;
}

.portfolio {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  margin: 0px;
  padding: 0;
}

.taste-item {
  position: relative;
  overflow: hidden;
}

.taste-item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-item {
  width: calc((100% -48px) / 3);
  font-size: 36px;
  line-height: 1.11;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.taste-item-text {
  position: absolute;
  inset: 0;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--tr);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  overflow: hidden;
  margin: 0 0 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

.portfolio-item:hover .taste-item-text,
.portfolio-item:focus-within .taste-item-text {
  transform: translateY(0);
}

.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-inner {
  display: flex;
  align-items: flex-start;
  gap: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  gap: 80px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin: 0;
}

.footer-social-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.socials-footer {
  gap: 16px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 0 0 auto;
}

.footer-list {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: var(--cloud);
}

.container-social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid var(--white);
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-right: 16px;
  padding-left: 16px;
  color: #ffffff;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background: var(--iris);
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: none;
}

.btn-icon {
  fill: var(--white);
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  stroke-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-button {
  fill: var(--cornflower);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  margin-top: 23.61px;
  margin-bottom: 16px;
}

.modal-input {
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  transition: border-color var(--tr);
}

.modal-element {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  outline: transparent;
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-input:focus + .icon-input {
  fill: var(--iris);
}

.modal-input-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-bottom: 4px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-comment {
  margin-bottom: 16px;
}

.icon-input {
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
}

.modal-textarea {
  font-size: 12px;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-box {
  margin-bottom: 24px;
}

.modal-check:checked + .label-check > .modal-check-box {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.label-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  align-items: center;
}

.label-check a {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.modal-check-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bth {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-button,
.modal-close:focus .modal-button {
  fill: #ffffff;
}
